<?xml version="0.0" ?>
<robot name="frame">

  <material name="farme_material">
    <texture filename="package://overworld/models/tutorials/Frame/frame.png"/>
  </material>

  <link concave="yes" name="adream_walls">
    <inertial>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <mass value=".0"/>
      <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0"/>
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="package://overworld/models/tutorials/Frame/frame.obj" scale="1 1 1"/>
      </geometry>
      <material name="farme_material"/>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="package://overworld/models/tutorials/Frame/frame.obj" scale="1 1 1"/>
      </geometry>
    </collision>
  </link>

</robot>