<launch>
  <arg name="language" default="en"/>
  <arg name="intern_file" default="none"/>
  <arg name="config" default=" $(find overworld)/config/ontologenius.yaml"/>
  <arg name="files" default="
  $(find overworld)/ontologies/common_ground_example.owl
  $(find overworld)/ontologies/adream_building.owl
  "/>
  <node name="ontologenius_core" pkg="ontologenius" type="ontologenius_multi" output="screen" args="-l $(arg language) -i $(arg intern_file) -c $(arg config) -d false $(arg files)"> </node>
  <node name="ontologenius_gui" pkg="ontologenius" type="ontoloGUI" output="screen"> </node>
</launch>
