<launch>
  <arg name="configuration_file" default="$(find overworld)/config/config_example.yaml"/>
  <arg name="robot_name" default="pr2"/>
  <arg name="simulate" default="true"/>

  <node name="overworld" pkg="overworld" type="overworld_node" output="screen" args="-c $(arg configuration_file) -n $(arg robot_name) -s $(arg simulate)"/>
</launch>
