<launch>
  <arg name="language" default="en"/>
  <arg name="intern_file" default="none"/>
  <arg name="root" default="eve"/>
  <arg name="config" default=" $(find overworld)/config/ontologenius.yaml"/>
  <arg name="files" default="
    $(find overworld)/ontologies/adream_building.owl
    $(find overworld)/ontologies/Tutorials/eve.owl
    $(find overworld)/ontologies/Tutorials/steve.owl
    $(find common_ground_ontology)/CG_root.owl
  "/>
  <node name="ontologenius_core" pkg="ontologenius" type="ontologenius_multi" output="screen" args="--root $(arg root) -l $(arg language) -i $(arg intern_file) -c $(arg config) -d false $(arg files)"> </node>
  <node name="ontologenius_gui" pkg="ontologenius" type="ontoloGUI" output="screen"> </node>
</launch>
